/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
*.unityproj
*.booproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd
/Assets/StreamingAssets/*
!/Assets/StreamingAssets/.gitkeep
/Logs/*
/UnityPackageManager/*
*.DS_Store
.vscode/
.idea/
Library/
Temp/
Local/
*/.vs/
.vs/
*/ShaderlabVSCode/
*.apk
*Reference.cache
W05Project/obj/*
!*.exe
!*.dll
W05Project/Export/*
W05Project/Assembly-CSharp.csproj
W05Project/GameFramework.csproj
W05Project/NavMeshComponents.csproj
W05Project/NavMeshComponentsEditor.csproj
W05Project/UnityGameFramework.Editor.csproj
W05Project/UnityGameFramework.Runtime.csproj
W05Project/Assembly-CSharp.csproj
W05Project/Logs/*.txt
W05Project/Assets/Plugins/GameFramework/Scripts/obj/*.*
W05Project/Assets/Plugins/GameFramework/Scripts/obj/Debug/*
W05Project/Assets/StreamingAssets/*
W05Project/Assembly-CSharp-Editor.csproj
W05Project/Assembly-CSharp-Editor-firstpass.csproj
W05Project/Assembly-CSharp-firstpass.csproj
W05Project/W05Project.sln
W05Project/ParadoxNotion.csproj
W05Project/Cinemachine.csproj
W05Project/com.unity.cinemachine.editor.csproj
W05Project/Unity.2D.Sprite.Editor.csproj
W05Project/Unity.Addressables.csproj
W05Project/Unity.Addressables.Editor.csproj
W05Project/Unity.CollabProxy.Editor.csproj
W05Project/Unity.Mathematics.csproj
W05Project/Unity.Mathematics.Editor.csproj
W05Project/Unity.ResourceManager.csproj
W05Project/Unity.Rider.Editor.csproj
W05Project/Unity.ScriptableBuildPipeline.csproj
W05Project/Unity.ScriptableBuildPipeline.Editor.csproj
W05Project/Unity.TextMeshPro.csproj
W05Project/Unity.TextMeshPro.Editor.csproj
W05Project/Unity.Timeline.csproj
W05Project/Unity.Timeline.Editor.csproj
W05Project/Unity.VSCode.Editor.csproj
W05Project/UnityEditor.CacheServer.csproj
W05Project/UnityEditor.TestRunner.csproj
W05Project/UnityEditor.UI.csproj
W05Project/UnityEngine.TestRunner.csproj
W05Project/UnityEngine.UI.csproj
output
W05Project/AstarPathfindingProject.csproj
W05Project/AstarPathfindingProjectEditor.csproj
W05Project/BakeryEditorAssembly.csproj
W05Project/BakeryRuntimeAssembly.csproj
W05Project/PackageToolsEditor.csproj
W05Project/Build
/*.csproj
/*.sln
